# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# pytest
.pytest_cache/
.coverage
htmlcov/

# IDEs
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# uv
.uv/

# retrieval cache
resource/rag-index/*.json

# paper
resource/paper/*.pdf
resource/other

